<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
            text-align: center;
            padding: 3px;
            background-color: rgba(29, 22, 22, 0.24);
          }
        p.footerposition{
            letter-spacing: 5px;
            color: blue; 
            font-size: 20px;
        }
    </style>
</head>
<body>
<footer>
    <p class="footerposition">SCHLUMBERGER </p>
    For query reach out to: </br><a href="mailto:cloudautomation@slb.com">Cloud Automation Team</a></p>
  </footer>
</body>
</html> 