<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="../static/css/loginstyles.css">
    <script src="../static/js/scripts.js"></script>
</head>


<body>

<!--
  <form action="" method="post">
    <input type="text" placeholder="Username" name="username" value="">
     <input type="password" placeholder="Password" name="password" value="">
    <input class="btn btn-default" type="submit" value="Login">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}

-->

{% include 'header.html' %}

<div class="login-form">
  <form action="" method="POST">
    <h1>LOGIN</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="Username" name ="username" value="">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" name="password" value="">
      </div>

    </div>
    <div class="action">
      
      <button type="submit" >Sign in</button> 

    </div>
    <a href='{{ auth_url }}'> SSO Sign In</a>
  </form>

  {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
  <li><a href='{{_build_auth_code_flow(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])["auth_uri"]}}'>Reset Password</a></li>
  {% endif %}
</div>
{% include 'footer.html' %}
    </body>
</html>



<!--
<body>
    <h1>Microsoft Identity Python Web App</h1>

    <li><a href='{{ auth_url }}'>Sign In</a></li>

    {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
    <li><a href='{{_build_auth_code_flow(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])["auth_uri"]}}'>Reset Password</a></li>
    {% endif %}

    <hr>
    
</body>

-->